
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>js moveable table</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script type="text/javascript" src="static//jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  <link rel="stylesheet" type="text/css" href="/static/anothertable.css">



  <style id="compiled-css" type="text/css">

  </style>

  <script id="insert"></script>

</head>






<body>
    <!-- Draggable DIV -->
<!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
<div id="mydiv" class="addableDiv" style="left:100px">
  <div id="mydivheader" class="divheader">
    <div contenteditable class="headertext" onmousedown="blockClick(event)" style="">
      <p>Trip to Zurich</p>
    </div>
  </div>

<!--  <div class="entry" contenteditable>Get residence permit</div>-->
<!--  <div class="entry" contenteditable>Other stuff</div>-->


<!--  <div class="entryExpanded" contenteditable>-->
<!--    Buy a couch-->
<!--  </div>-->

<!--  <div class="entrySublist" id="yes" contenteditable-->
<!--  onfocus="focAndAddDot(event)"-->
<!--  onblur="unfoc(event)">-->
<!--    <div contenteditable class="innerDiv">-->
<!--    </div>-->
<!--  </div>-->



  <div class="plus" style="" onclick="plusRow(event)"><b>+</b></div>
  <div class="minus" style="" onclick="minusRow(event)"><b>—</b></div>
</div>


  <div id="editButton" class="editButton" onclick="console.log('qsa')">
  </div>


  <script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
      window.parent.parent.postMessage(["resultsFrame", {
        height: document.body.getBoundingClientRect().height,
        slug: "ed5Lgwxb"
      }], "*")
    }

    // always overwrite window.name, in case users try to set it manually
    window.name = "result"
  </script>

    <script>
      let allLines = []

      window.addEventListener("message", (message) => {
        if (message.data.console){
          let insert = document.querySelector("#insert")
          allLines.push(message.data.console.payload)
          insert.innerHTML = allLines.join(";\r")

          let result = eval.call(null, message.data.console.payload)
          if (result !== undefined){
            console.log(result)
          }
        }
      })
    </script>
<script src="/static/anothertable.js"></script>
</body>


</html>

