<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/static/anothertable2.css">

</head>
<body>
    <div class="app" style="width:1925px; height:6528px;">





        <div class="holder draggable resizable" style="position:absolute; left:200px; top:200px" >
            <div class="headerBox" contenteditable="false">
                no way header
            </div>

            <div class="bodyBox" style="" contenteditable="false">
                <div class="bodyRow" contenteditable="true">
                    Whataever
                </div>
            </div>
        </div>













    </div>
</body>

<footer>
    <script type="text/javascript" src="static/interact.min.js"></script>
    <script type="text/javascript" src="static/anothertable2.js"></script>


<!--  Sortable list stuff through Dragula  -->
    <script type="text/javascript" src="static/dragula.min.js"></script>
<!--    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>  -->
</footer>
</html>